.icon {
  background-image: url('../images/sprites.png');
}

.icon-icon_see_all {
  background-position: -4px -4px;
  width: 10px;
  height: 17px;
}

.icon-ic_arrow_gray {
  background-position: -4px -29px;
  width: 12px;
  height: 21px;
}

.icon-icon_seeall_2x {
  background-position: -4px -58px;
  width: 12px;
  height: 23px;
}

.icon-choose_2x {
  background-position: -4px -89px;
  width: 30px;
  height: 23px;
}

.icon-ic_share_2x {
  background-position: -4px -120px;
  width: 32px;
  height: 28px;
}

.icon-ic_camera_2x {
  background-position: -4px -156px;
  width: 34px;
  height: 28px;
}

.icon-ic_s_close_pre_2x {
  background-position: -4px -192px;
  width: 30px;
  height: 30px;
}

.icon-ic_event_credits_w_g {
  background-position: -4px -230px;
  width: 30px;
  height: 30px;
}

.icon-ic_event_credits_w_s {
  background-position: -4px -268px;
  width: 30px;
  height: 30px;
}

.icon-ic_s_close_nor_2x {
  background-position: -4px -306px;
  width: 30px;
  height: 30px;
}

.icon-ic_notcomplete_2x {
  background-position: -4px -344px;
  width: 46px;
  height: 32px;
}

.icon-icon_influencer_32X32 {
  background-position: -4px -384px;
  width: 32px;
  height: 32px;
}

.icon-ic_complete_2x-12 {
  background-position: -4px -424px;
  width: 46px;
  height: 32px;
}

.icon-icon_ambassadors_32X32 {
  background-position: -4px -464px;
  width: 32px;
  height: 32px;
}

.icon-icon_seeall_3x {
  background-position: -4px -504px;
  width: 18px;
  height: 35px;
}

.icon-btn_del_2x {
  background-position: -4px -547px;
  width: 39px;
  height: 38px;
}

.icon-input_clear {
  background-position: -4px -593px;
  width: 38px;
  height: 38px;
}

.icon-input_alert {
  background-position: -4px -639px;
  width: 38px;
  height: 38px;
}

.icon-ic_like_nor_2x {
  background-position: -4px -685px;
  width: 48px;
  height: 40px;
}

.icon-ic_like_click_2x {
  background-position: -4px -733px;
  width: 48px;
  height: 40px;
}

.icon-btn_menu_2x {
  background-position: -4px -781px;
  width: 48px;
  height: 40px;
}

.icon-input_ok {
  background-position: -4px -829px;
  width: 41px;
  height: 41px;
}

.icon-icon_ambassadors_44X44 {
  background-position: -4px -878px;
  width: 44px;
  height: 44px;
}

.icon-ic_notSelected_2x {
  background-position: -4px -930px;
  width: 44px;
  height: 44px;
}

.icon-icon_influencer_44X44 {
  background-position: -4px -982px;
  width: 44px;
  height: 44px;
}

.icon-ic_complete_2x {
  background-position: -4px -1034px;
  width: 44px;
  height: 44px;
}

.icon-ic_skin_2x {
  background-position: -4px -1086px;
  width: 44px;
  height: 48px;
}

.icon-ic_eyes_2x {
  background-position: -4px -1142px;
  width: 44px;
  height: 48px;
}

.icon-ic_face_2x {
  background-position: -4px -1198px;
  width: 44px;
  height: 48px;
}

.icon-btn_styledetails_inform_nor_2x {
  background-position: -4px -1254px;
  width: 56px;
  height: 50px;
}

.icon-add-image_2x {
  background-position: -4px -1312px;
  width: 50px;
  height: 50px;
}

.icon-ic_event_credits_g {
  background-position: -4px -1370px;
  width: 50px;
  height: 50px;
}

.icon-ic_event_credits_w {
  background-position: -4px -1428px;
  width: 50px;
  height: 50px;
}

.icon-ic_score_empty_2x {
  background-position: -4px -1486px;
  width: 48px;
  height: 59px;
}

.icon-ic_score_full_2x {
  background-position: -4px -1553px;
  width: 48px;
  height: 59px;
}

.icon-Q1 {
  background-position: -4px -1620px;
  width: 85px;
  height: 60px;
}

.icon-Q3 {
  background-position: -4px -1688px;
  width: 85px;
  height: 60px;
}

.icon-Q4 {
  background-position: -4px -1756px;
  width: 85px;
  height: 60px;
}

.icon-Q2 {
  background-position: -4px -1824px;
  width: 85px;
  height: 60px;
}

.icon-Q5 {
  background-position: -4px -1892px;
  width: 85px;
  height: 60px;
}

.icon-bt_Appbutton {
  background-position: -4px -1960px;
  width: 180px;
  height: 60px;
}

.icon-bt_google {
  background-position: -4px -2028px;
  width: 180px;
  height: 60px;
}

.icon-btn_follow_each_nor_2x {
  background-position: -4px -2096px;
  width: 108px;
  height: 66px;
}

.icon-btn_follow_nor_2x {
  background-position: -4px -2170px;
  width: 108px;
  height: 66px;
}

.icon-btn_followed_nor_2x {
  background-position: -4px -2244px;
  width: 108px;
  height: 66px;
}

.icon-btn_followed_unable_2x {
  background-position: -4px -2318px;
  width: 108px;
  height: 66px;
}

.icon-add_2x {
  background-position: -4px -2392px;
  width: 83px;
  height: 70px;
}

.icon-pic_Congratulations_2x {
  background-position: -4px -2470px;
  width: 414px;
  height: 80px;
}

.icon-bestdeals_2x {
  background-position: -4px -2558px;
  width: 84px;
  height: 84px;
}

.icon-credits_2x {
  background-position: -4px -2650px;
  width: 84px;
  height: 84px;
}

.icon-outfits_2x {
  background-position: -4px -2742px;
  width: 84px;
  height: 84px;
}

.icon-styletest_2x {
  background-position: -4px -2834px;
  width: 84px;
  height: 84px;
}

.icon-communtiy_2x {
  background-position: -4px -2926px;
  width: 84px;
  height: 84px;
}

.icon-ic_dejaeditor_2x {
  background-position: -4px -3018px;
  width: 86px;
  height: 90px;
}

.icon-logo {
  background-position: -4px -3116px;
  width: 86px;
  height: 90px;
}

.icon-btn_fb_login {
  background-position: -4px -3214px;
  width: 460px;
  height: 95px;
}

.icon-pic_editorspick_2x {
  background-position: -4px -3317px;
  width: 112px;
  height: 98px;
}

.icon-bigheart {
  background-position: -4px -3423px;
  width: 144px;
  height: 120px;
}

.icon-ic_about_ins_pre {
  background-position: -4px -3551px;
  width: 120px;
  height: 120px;
}

.icon-ic_about_ins_nor {
  background-position: -4px -3679px;
  width: 120px;
  height: 120px;
}

.icon-ic_url_copy_pre_2x {
  background-position: -4px -3807px;
  width: 120px;
  height: 120px;
}

.icon-ic_about_tw_pre {
  background-position: -4px -3935px;
  width: 120px;
  height: 120px;
}

.icon-ic_about_tw_nor {
  background-position: -4px -4063px;
  width: 120px;
  height: 120px;
}

.icon-ic_url_copy_nor_2x {
  background-position: -4px -4191px;
  width: 120px;
  height: 120px;
}

.icon-ic_about_fb_nor {
  background-position: -4px -4319px;
  width: 120px;
  height: 120px;
}

.icon-ic_about_fb_pre {
  background-position: -4px -4447px;
  width: 120px;
  height: 120px;
}

.icon-ic_vote_skip_nor_2x {
  background-position: -4px -4575px;
  width: 154px;
  height: 154px;
}

.icon-ic_vote_skip_pre_2x {
  background-position: -4px -4737px;
  width: 154px;
  height: 154px;
}

.icon-ic_vote_vote_nor_2x {
  background-position: -4px -4899px;
  width: 154px;
  height: 154px;
}

.icon-ic_vote_vote_pre_2x {
  background-position: -4px -5061px;
  width: 154px;
  height: 154px;
}

.icon-succeed_2x {
  background-position: -4px -5223px;
  width: 200px;
  height: 200px;
}

.icon-empty_cart_2x {
  background-position: -4px -5431px;
  width: 200px;
  height: 200px;
}

.icon-unsucceed_2x {
  background-position: -4px -5639px;
  width: 200px;
  height: 200px;
}

.icon-empty_order_2x {
  background-position: -4px -5847px;
  width: 205px;
  height: 205px;
}

.icon-pic_vote_skip_2x {
  background-position: -4px -6060px;
  width: 290px;
  height: 240px;
}

.icon-pic_vote_good_2x {
  background-position: -4px -6308px;
  width: 290px;
  height: 240px;
}

.icon-btn_sikn_face_camera_2x {
  background-position: -4px -6556px;
  width: 254px;
  height: 256px;
}

