.icon {
  background-image: url('../images/sprites.png');
}

.icon-icon_see_all {
  background-position: -4px -4px;
  width: 10px;
  height: 17px;
}

.icon-delete_2x {
  background-position: -4px -29px;
  width: 20px;
  height: 20px;
}

.icon-ic_arrow_gray {
  background-position: -4px -57px;
  width: 12px;
  height: 21px;
}

.icon-icon_seeall_2x {
  background-position: -4px -86px;
  width: 12px;
  height: 23px;
}

.icon-choose_2x {
  background-position: -4px -117px;
  width: 30px;
  height: 23px;
}

.icon-ic_share_2x {
  background-position: -4px -148px;
  width: 32px;
  height: 28px;
}

.icon-ic_camera_2x {
  background-position: -4px -184px;
  width: 34px;
  height: 28px;
}

.icon-ic_event_credits_w_g {
  background-position: -4px -220px;
  width: 30px;
  height: 30px;
}

.icon-ic_s_close_nor_2x {
  background-position: -4px -258px;
  width: 30px;
  height: 30px;
}

.icon-ic_event_credits_w_s {
  background-position: -4px -296px;
  width: 30px;
  height: 30px;
}

.icon-ic_s_close_pre_2x {
  background-position: -4px -334px;
  width: 30px;
  height: 30px;
}

.icon-icon_influencer_32X32 {
  background-position: -4px -372px;
  width: 32px;
  height: 32px;
}

.icon-icon_ambassadors_32X32 {
  background-position: -4px -412px;
  width: 32px;
  height: 32px;
}

.icon-ic_notcomplete_2x {
  background-position: -4px -452px;
  width: 46px;
  height: 32px;
}

.icon-ic_complete_2x-12 {
  background-position: -4px -492px;
  width: 46px;
  height: 32px;
}

.icon-icon_seeall_3x {
  background-position: -4px -532px;
  width: 18px;
  height: 35px;
}

.icon-btn_del_2x {
  background-position: -4px -575px;
  width: 39px;
  height: 38px;
}

.icon-input_alert {
  background-position: -4px -621px;
  width: 38px;
  height: 38px;
}

.icon-input_clear {
  background-position: -4px -667px;
  width: 38px;
  height: 38px;
}

.icon-ic_like_click_2x {
  background-position: -4px -713px;
  width: 48px;
  height: 40px;
}

.icon-btn_menu_2x {
  background-position: -4px -761px;
  width: 48px;
  height: 40px;
}

.icon-ic_like_nor_2x {
  background-position: -4px -809px;
  width: 48px;
  height: 40px;
}

.icon-input_ok {
  background-position: -4px -857px;
  width: 41px;
  height: 41px;
}

.icon-ic_complete_2x {
  background-position: -4px -906px;
  width: 44px;
  height: 44px;
}

.icon-ic_notSelected_2x {
  background-position: -4px -958px;
  width: 44px;
  height: 44px;
}

.icon-icon_ambassadors_44X44 {
  background-position: -4px -1010px;
  width: 44px;
  height: 44px;
}

.icon-icon_influencer_44X44 {
  background-position: -4px -1062px;
  width: 44px;
  height: 44px;
}

.icon-ic_eyes_2x {
  background-position: -4px -1114px;
  width: 44px;
  height: 48px;
}

.icon-ic_skin_2x {
  background-position: -4px -1170px;
  width: 44px;
  height: 48px;
}

.icon-ic_face_2x {
  background-position: -4px -1226px;
  width: 44px;
  height: 48px;
}

.icon-ic_event_credits_g {
  background-position: -4px -1282px;
  width: 50px;
  height: 50px;
}

.icon-ic_event_credits_w {
  background-position: -4px -1340px;
  width: 50px;
  height: 50px;
}

.icon-icon_filter_price_2x {
  background-position: -4px -1398px;
  width: 52px;
  height: 50px;
}

.icon-btn_styledetails_inform_nor_2x {
  background-position: -4px -1456px;
  width: 56px;
  height: 50px;
}

.icon-add-image_2x {
  background-position: -4px -1514px;
  width: 50px;
  height: 50px;
}

.icon-ic_score_full_2x {
  background-position: -4px -1572px;
  width: 48px;
  height: 59px;
}

.icon-ic_score_empty_2x {
  background-position: -4px -1639px;
  width: 48px;
  height: 59px;
}

.icon-Q4 {
  background-position: -4px -1706px;
  width: 85px;
  height: 60px;
}

.icon-Q5 {
  background-position: -4px -1774px;
  width: 85px;
  height: 60px;
}

.icon-Q2 {
  background-position: -4px -1842px;
  width: 85px;
  height: 60px;
}

.icon-bt_Appbutton {
  background-position: -4px -1910px;
  width: 180px;
  height: 60px;
}

.icon-bt_google {
  background-position: -4px -1978px;
  width: 180px;
  height: 60px;
}

.icon-Q1 {
  background-position: -4px -2046px;
  width: 85px;
  height: 60px;
}

.icon-Q3 {
  background-position: -4px -2114px;
  width: 85px;
  height: 60px;
}

.icon-btn_follow_each_nor_2x {
  background-position: -4px -2182px;
  width: 108px;
  height: 66px;
}

.icon-btn_follow_nor_2x {
  background-position: -4px -2256px;
  width: 108px;
  height: 66px;
}

.icon-btn_followed_nor_2x {
  background-position: -4px -2330px;
  width: 108px;
  height: 66px;
}

.icon-btn_followed_unable_2x {
  background-position: -4px -2404px;
  width: 108px;
  height: 66px;
}

.icon-add_2x {
  background-position: -4px -2478px;
  width: 83px;
  height: 70px;
}

.icon-pic_Congratulations_2x {
  background-position: -4px -2556px;
  width: 414px;
  height: 80px;
}

.icon-styletest_2x {
  background-position: -4px -2644px;
  width: 84px;
  height: 84px;
}

.icon-bestdeals_2x {
  background-position: -4px -2736px;
  width: 84px;
  height: 84px;
}

.icon-outfits_2x {
  background-position: -4px -2828px;
  width: 84px;
  height: 84px;
}

.icon-communtiy_2x {
  background-position: -4px -2920px;
  width: 84px;
  height: 84px;
}

.icon-credits_2x {
  background-position: -4px -3012px;
  width: 84px;
  height: 84px;
}

.icon-ic_dejaeditor_2x {
  background-position: -4px -3104px;
  width: 86px;
  height: 90px;
}

.icon-logo {
  background-position: -4px -3202px;
  width: 86px;
  height: 90px;
}

.icon-btn_fb_login {
  background-position: -4px -3300px;
  width: 460px;
  height: 95px;
}

.icon-pic_editorspick_2x {
  background-position: -4px -3403px;
  width: 112px;
  height: 98px;
}

.icon-bigheart {
  background-position: -4px -3509px;
  width: 144px;
  height: 120px;
}

.icon-ic_about_ins_pre {
  background-position: -4px -3637px;
  width: 120px;
  height: 120px;
}

.icon-ic_about_ins_nor {
  background-position: -4px -3765px;
  width: 120px;
  height: 120px;
}

.icon-ic_url_copy_pre_2x {
  background-position: -4px -3893px;
  width: 120px;
  height: 120px;
}

.icon-ic_about_tw_pre {
  background-position: -4px -4021px;
  width: 120px;
  height: 120px;
}

.icon-ic_about_tw_nor {
  background-position: -4px -4149px;
  width: 120px;
  height: 120px;
}

.icon-ic_url_copy_nor_2x {
  background-position: -4px -4277px;
  width: 120px;
  height: 120px;
}

.icon-ic_about_fb_nor {
  background-position: -4px -4405px;
  width: 120px;
  height: 120px;
}

.icon-ic_about_fb_pre {
  background-position: -4px -4533px;
  width: 120px;
  height: 120px;
}

.icon-ic_vote_skip_nor_2x {
  background-position: -4px -4661px;
  width: 154px;
  height: 154px;
}

.icon-ic_vote_skip_pre_2x {
  background-position: -4px -4823px;
  width: 154px;
  height: 154px;
}

.icon-ic_vote_vote_nor_2x {
  background-position: -4px -4985px;
  width: 154px;
  height: 154px;
}

.icon-ic_vote_vote_pre_2x {
  background-position: -4px -5147px;
  width: 154px;
  height: 154px;
}

.icon-succeed_2x {
  background-position: -4px -5309px;
  width: 200px;
  height: 200px;
}

.icon-empty_cart_2x {
  background-position: -4px -5517px;
  width: 200px;
  height: 200px;
}

.icon-unsucceed_2x {
  background-position: -4px -5725px;
  width: 200px;
  height: 200px;
}

.icon-empty_order_2x {
  background-position: -4px -5933px;
  width: 205px;
  height: 205px;
}

.icon-pic_vote_skip_2x {
  background-position: -4px -6146px;
  width: 290px;
  height: 240px;
}

.icon-pic_vote_good_2x {
  background-position: -4px -6394px;
  width: 290px;
  height: 240px;
}

.icon-btn_sikn_face_camera_2x {
  background-position: -4px -6642px;
  width: 254px;
  height: 256px;
}

