.icon {
  background-image: url('../images/sprites.png');
}

.icon-btn_menu_2x {
  background-position: -4px -4px;
  width: 50px;
  height: 16px;
}

.icon-icon_see_all {
  background-position: -4px -28px;
  width: 10px;
  height: 17px;
}

.icon-ic_arrow_gray {
  background-position: -4px -53px;
  width: 12px;
  height: 21px;
}

.icon-icon_seeall_2x {
  background-position: -4px -82px;
  width: 12px;
  height: 23px;
}

.icon-ic_camera_2x {
  background-position: -4px -113px;
  width: 34px;
  height: 28px;
}

.icon-ic_share_2x {
  background-position: -4px -149px;
  width: 32px;
  height: 28px;
}

.icon-ic_event_credits_w_s {
  background-position: -4px -185px;
  width: 30px;
  height: 30px;
}

.icon-ic_s_close_nor_2x {
  background-position: -4px -223px;
  width: 30px;
  height: 30px;
}

.icon-ic_s_close_pre_2x {
  background-position: -4px -261px;
  width: 30px;
  height: 30px;
}

.icon-ic_event_credits_w_g {
  background-position: -4px -299px;
  width: 30px;
  height: 30px;
}

.icon-ic_notcomplete_2x {
  background-position: -4px -337px;
  width: 46px;
  height: 32px;
}

.icon-icon_ambassadors_32X32 {
  background-position: -4px -377px;
  width: 32px;
  height: 32px;
}

.icon-ic_complete_2x-12 {
  background-position: -4px -417px;
  width: 46px;
  height: 32px;
}

.icon-icon_influencer_32X32 {
  background-position: -4px -457px;
  width: 32px;
  height: 32px;
}

.icon-icon_seeall_3x {
  background-position: -4px -497px;
  width: 18px;
  height: 35px;
}

.icon-heart_small_pre {
  background-position: -4px -540px;
  width: 46px;
  height: 42px;
}

.icon-heart_small_nor {
  background-position: -4px -590px;
  width: 46px;
  height: 42px;
}

.icon-ic_score_full_2x {
  background-position: -4px -640px;
  width: 46px;
  height: 44px;
}

.icon-icon_influencer_44X44 {
  background-position: -4px -692px;
  width: 44px;
  height: 44px;
}

.icon-ic_complete_2x {
  background-position: -4px -744px;
  width: 44px;
  height: 44px;
}

.icon-ic_notSelected_2x {
  background-position: -4px -796px;
  width: 44px;
  height: 44px;
}

.icon-ic_score_empty_2x {
  background-position: -4px -848px;
  width: 46px;
  height: 44px;
}

.icon-icon_ambassadors_44X44 {
  background-position: -4px -900px;
  width: 44px;
  height: 44px;
}

.icon-ic_eyes_2x {
  background-position: -4px -952px;
  width: 44px;
  height: 48px;
}

.icon-ic_face_2x {
  background-position: -4px -1008px;
  width: 44px;
  height: 48px;
}

.icon-ic_skin_2x {
  background-position: -4px -1064px;
  width: 44px;
  height: 48px;
}

.icon-btn_follow_nor_2x {
  background-position: -4px -1120px;
  width: 100px;
  height: 50px;
}

.icon-btn_followed_unable_2x {
  background-position: -4px -1178px;
  width: 100px;
  height: 50px;
}

.icon-ic_event_credits_g {
  background-position: -4px -1236px;
  width: 50px;
  height: 50px;
}

.icon-ic_event_credits_w {
  background-position: -4px -1294px;
  width: 50px;
  height: 50px;
}

.icon-btn_styledetails_inform_nor_2x {
  background-position: -4px -1352px;
  width: 66px;
  height: 56px;
}

.icon-ic_like_nor_2x {
  background-position: -4px -1416px;
  width: 62px;
  height: 58px;
}

.icon-ic_like_click_2x {
  background-position: -4px -1482px;
  width: 62px;
  height: 58px;
}

.icon-ic_dejaeditor_2x {
  background-position: -4px -1548px;
  width: 58px;
  height: 58px;
}

.icon-Q4 {
  background-position: -4px -1614px;
  width: 85px;
  height: 60px;
}

.icon-Q5 {
  background-position: -4px -1682px;
  width: 85px;
  height: 60px;
}

.icon-bt_Appbutton {
  background-position: -4px -1750px;
  width: 180px;
  height: 60px;
}

.icon-bt_google {
  background-position: -4px -1818px;
  width: 180px;
  height: 60px;
}

.icon-Q2 {
  background-position: -4px -1886px;
  width: 85px;
  height: 60px;
}

.icon-Q1 {
  background-position: -4px -1954px;
  width: 85px;
  height: 60px;
}

.icon-Q3 {
  background-position: -4px -2022px;
  width: 85px;
  height: 60px;
}

.icon-pic_Congratulations_2x {
  background-position: -4px -2090px;
  width: 414px;
  height: 80px;
}

.icon-btn_fb_login {
  background-position: -4px -2178px;
  width: 460px;
  height: 95px;
}

.icon-pic_editorspick_2x {
  background-position: -4px -2281px;
  width: 112px;
  height: 98px;
}

.icon-ic_about_fb_nor {
  background-position: -4px -2387px;
  width: 120px;
  height: 120px;
}

.icon-ic_about_tw_pre {
  background-position: -4px -2515px;
  width: 120px;
  height: 120px;
}

.icon-ic_url_copy_nor_2x {
  background-position: -4px -2643px;
  width: 120px;
  height: 120px;
}

.icon-ic_url_copy_pre_2x {
  background-position: -4px -2771px;
  width: 120px;
  height: 120px;
}

.icon-ic_about_tw_nor {
  background-position: -4px -2899px;
  width: 120px;
  height: 120px;
}

.icon-ic_about_ins_pre {
  background-position: -4px -3027px;
  width: 120px;
  height: 120px;
}

.icon-ic_about_ins_nor {
  background-position: -4px -3155px;
  width: 120px;
  height: 120px;
}

.icon-ic_about_fb_pre {
  background-position: -4px -3283px;
  width: 120px;
  height: 120px;
}

.icon-logo {
  background-position: -4px -3411px;
  width: 140px;
  height: 140px;
}

.icon-ic_vote_skip_pre_2x {
  background-position: -4px -3559px;
  width: 154px;
  height: 154px;
}

.icon-ic_vote_skip_nor_2x {
  background-position: -4px -3721px;
  width: 154px;
  height: 154px;
}

.icon-ic_vote_vote_nor_2x {
  background-position: -4px -3883px;
  width: 154px;
  height: 154px;
}

.icon-ic_vote_vote_pre_2x {
  background-position: -4px -4045px;
  width: 154px;
  height: 154px;
}

.icon-empty_cart_2x {
  background-position: -4px -4207px;
  width: 200px;
  height: 200px;
}

.icon-succeed_2x {
  background-position: -4px -4415px;
  width: 200px;
  height: 200px;
}

.icon-unsucceed_2x {
  background-position: -4px -4623px;
  width: 200px;
  height: 200px;
}

.icon-pic_vote_good_2x {
  background-position: -4px -4831px;
  width: 290px;
  height: 240px;
}

.icon-pic_vote_skip_2x {
  background-position: -4px -5079px;
  width: 290px;
  height: 240px;
}

.icon-btn_sikn_face_camera_2x {
  background-position: -4px -5327px;
  width: 254px;
  height: 256px;
}

